<?xml version="1.0"?>
<launch>
 
<node name="rosbag" pkg="rosbag" type="record" args="record pos_calc -o $(find highlevel_controller)/rosbag/ "> 
</node>
  <!-- Launching the highlevel controller node -->
<include file="$(find vel_int)/launch/pos_calc.launch">
   </include>
<include file="$(find depthimage_to_laserscan)/launch/depthimage_to_laserscan.launch">
   </include>

  <node name="highlevel_controller" pkg="highlevel_controller" type="highlevel_controller" output="screen">
    <rosparam file="$(find highlevel_controller)/config/default_parameters.yaml" command="load"/>
  </node>

  

</launch>
